<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="bootstrap.min.css">   for bootswatch not bootstrap offline -->
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">     <!--  online -->
  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"> <!-- exact link from tutorial -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/5.15.1/css/font-awesome.min.css"> -->
    
    <title>Node Login with EJS</title>
</head>
<body>
    <div class="container">
        <%- body %>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- bootstrap 5.0 -->
</body>
</html> 